//ANIMATION LEFT
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
//ANIMATION RIGHT
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.main__block {
  margin-top: 53px;
  display: block;
  width: 100%;
  height: 500px;
}
.main__intro {
  text-transform: uppercase;
  z-index: 100;
  position: absolute;
  top: 110px;
}
.main__hello {
  margin-left: 47px;
  margin-bottom: 3px;
  letter-spacing: -0.03em;
}
.main__creative {
  font-size: 50px;
  // mix-blend-mode: multiply;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  margin-top: 0;
  letter-spacing: -0.05em;
  margin-left: 24px;
  margin-bottom: 0;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.main__front {
  font-size: 50px;
  letter-spacing: -0.05em;
  margin-left: 104px;
  margin-bottom: 0;
  margin-top: 0;

  // -webkit-animation-name: slideInRight;
  // animation-name: slideInRight;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.main__develop {
  font-size: 50px;
  letter-spacing: -0.05em;
  margin-left: 24px;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.main__berlin {
  font-size: 16px;
  letter-spacing: -0.03em;
  margin-left: 184px;
  margin-top: 0;
  // -webkit-animation-name: slideInRight;
  // animation-name: slideInRight;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.main__developerIn {
  display: flex;
  align-items: flex-end;
}
.main__img {
  position: absolute;
  right: 0;
  top: 82px;
  z-index: 0;
}
.main__star {
  position: relative;
  z-index: 100;
  left: 46px;
  top: 305px;
  width: 100%;
  cursor: pointer;
}
.main__check {
  position: absolute;
  font-size: 14px;
  left: 18px;
  top: -92px;
  color: #ffffff;
  padding-bottom: 8px;
  border-bottom: 1px solid #ffffff;
  transform: rotate(-15deg);
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* стили */
}

@media only screen and (min-width: 768px) {
  .main__block {
    margin-top: 53px;

    width: 100%;
    height: 80vw;
  }
  .main__intro {
    z-index: 100;
    position: absolute;
    top: 200px;
    left: 7vw;
  }
  .main__hello {
    margin-bottom: 3px;
    letter-spacing: -0.03em;
    font-size: 3vw;
    margin-left: 40px;
  }
  .main__creative {
    font-size: 11vw;
    margin-left: 0;
  }
  .main__front {
    font-size: 11vw;
    letter-spacing: -0.05em;
    margin-left: 28vw;
    margin-bottom: 0;
    margin-top: 0;
  }
  .main__develop {
    font-size: 11vw;
    letter-spacing: -0.05em;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .main__berlin {
    font-size: 3vw;
    letter-spacing: -0.03em;
    margin-left: 7px;
    margin-bottom: 2vw;
  }
  .main__img {
    position: absolute;
    right: 0;
    top: 82px;
    z-index: 0;
    width: 86%;
  }
  .main__star {
    left: 36vw;
    top: 60vw;
  }
  .main__starImg {
    width: 20vw;
    height: 20vw;
  }
  .main__check {
    font-size: 1.8vw;
    left: 2vw;
    top: -12vw;
    padding-bottom: 8px;
    border-bottom: 1px solid #ffffff;
    transform: rotate(-15deg);
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 1024px) {
  .main__block {
    height: 90vw;
  }
}
