@import "./../variables.scss";

.skills__block {
  margin-top: 10px;
  width: 100%;
  padding-bottom: 11vw;
}
.skills__slide {
  display: flex;
  margin-left: -100vw;
}
.skills__name {
  margin-top: 10px;
  font-size: 50px;
  margin-right: 15px;
  letter-spacing: -0.05em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px $textColor;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.skills__tableMain {
  margin-left: 5.3vw;
  margin-right: 5.3vw;
  border-collapse: collapse;
  width: 89vw;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: -0.03em;
}

.skills__tableMain {
  border-bottom: 1px solid $borderColor;
  padding: 7px 0;
}
.skills__tableMain:first-child {
  border-top: 1px solid $borderColor;
}
.skills__tableMain:nth-child(3) {
  border-top: 1px solid $borderColor;
}
.skills__tableMain:nth-child(2) {
  border-top: 1px solid $borderColor;
}

@media only screen and (min-width: 768px) {
  .skills__block {
    padding-bottom: 10vw;
  }
  .skills__name {
    font-size: 10vw;
    margin-right: 53px;
  }
  .skills__slide::-webkit-scrollbar {
    width: 0;
  }
  .skills__tableMain {
    width: 90vw;
    font-size: 3vw;
  }
  .skills__tableMain {
    padding: 1vw 0;
  }
  .skills__tableMain:first-child {
    padding-right: 1vw;
  }
}
@media only screen and (min-width: 1024px) {
  .skills__tableMain {
    width: 79vw;
    margin: 0 6.5vw;
  }
}
@media only screen and (min-width: 1324px) {
  // .skills__tableMain:nth-child(2) {
  //   padding-left: 1vw;
  // }
}
@media only screen and (min-width: 1424px) {
  // .skills__tableMain:nth-child(2) {
  //   padding-left: 2vw;
  // }
}
@media only screen and (min-width: 1524px) {
  .skills__tableMain {
    width: 81vw;
  }
}

@media only screen and (min-width: 1724px) {
  // .skills__tableMain:nth-child(2) {
  //   padding-left: 3vw;
  // }
}
