@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.about__block {
  width: 100%;

  display: flex;
  justify-content: flex-end;
}
.about__text {
  width: 62vw;
  // text-indent: 50px;
  margin-right: 20px;
  font-size: 16px;
  // -webkit-animation-name: zoomInDown;
  // animation-name: zoomInDown;
  // -webkit-animation-duration: 1s;
  // animation-duration: 1s;
  // -webkit-animation-fill-mode: both;
  // animation-fill-mode: both;
}

@media only screen and (min-width: 768px) {
  .about__block {
    margin-bottom: 70px;
  }
  .about__text {
    font-size: 3vw;
    width: 42vw;
    margin-right: 14vw;
  }
}
@media only screen and (min-width: 1024px) {
  .about__block {
    margin-top: 290px;
  }
}

@media only screen and (min-width: 1258px) {
  .about__block {
    margin-bottom: 150px;
    margin-top: 290px;
  }
}
