.about__block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .about__text {
    width: 62vw;
    margin-right: 20px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .about__block {
    margin-bottom: 7vw;
    margin-top: 7vw;
    .about__text {
      font-size: 3vw;
      width: 42vw;
      margin-right: 16vw;
    }
  }
}
@media only screen and (min-width: 1024px) {
  .about__block {
    margin-top: 22vw;
    margin-bottom: 11vw;
  }
}
