.about__block {
  width: 100%;

  display: flex;
  justify-content: flex-end;
}
.about__text {
  width: 62%;
  // text-indent: 50px;
  margin-right: 20px;
  font-size: 16px;
}
@media only screen and (min-width: 1024px) {
  .about__block {
    margin-bottom: 150px;
  }
  .about__text {
    font-size: 3vw;
    width: 50%;
    margin-right: 14vw;
  }
}
