@import "./../../variables.scss";

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 53px;
  position: fixed;
  background-color: $textColor;
  color: black;
  top: 0;
  z-index: 1000;
  .header__logo {
    margin-left: 18px;
    margin-top: 4px;
  }
  .header__name {
    font-weight: 600;
    font-size: 14px;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    .header__logoBurger {
      margin: 3px;
      margin-right: 0;
    }
  }
  .header__navMenu {
    background-color: $textColor;
    width: 100vw;
    height: 28vh;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 53px;
    right: -110vw;
    transition: 850ms;
    &.active {
      right: 0;
      transition: 350ms;
    }
    .menu__items {
      list-style: none;
      margin-top: 22px;
      padding-left: 0;
      margin-left: 20px;
      .menu__text {
        list-style: none;
        color: black;
        font-size: 42px;
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
        .menu__item {
          text-decoration: none;
          text-transform: uppercase;
          width: 95%;
          border-radius: 5px;
          color: $textColorBlack;
          .menu__p {
            letter-spacing: -0.05em;
            display: flex;
            justify-content: flex-start;
            margin: 0;
            .menu__number {
              font-size: 16px;
              letter-spacing: 0;
              margin-right: 10px;
              margin-top: 9px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 624px) {
  .header__main {
    .header__name {
    }

    .header__navMenu {
      justify-content: flex-start;
      .menu__items {
        margin-left: 20px;
        margin-top: 20px;
        .menu__text {
          margin-bottom: 2vw;
          .menu__p {
            margin-bottom: 22px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .header__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 97px;
    height: 100vh;
    position: fixed;
    background-color: $textColor;
    color: $textColorBlack;
    top: 0;
    left: 0;
    z-index: 1000;
    .header__intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      .header__logo {
        margin-left: 0;
        margin-top: 25px;
        margin-bottom: 6vw;
      }
      .header__name {
        writing-mode: tb-rl;
        transform: rotate(180deg);
        line-height: 18px;
      }
    }
    .header__contact {
      display: flex;
      writing-mode: tb-rl;
      transform: rotate(180deg);
      margin-bottom: 8vh;
      text-transform: uppercase;
      font-family: inter;
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;
      text-decoration: none;
      color: $textColorBlack;
      .header__dot {
        margin-bottom: 17px;
      }
    }
  }
}
