.contact__block {
  width: 100%;
  padding-bottom: 30px;
  height: 100%;
}
.contact__main {
  width: 334px;
  margin: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.contact__head {
  width: 334px;
  font-size: 50px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  display: flex;
  margin-top: 50px;
}
.contact__contact {
  margin: 0;
}
.contact__me {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  margin: 0;
  margin-left: 8px;
}
.contact__link {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.contact__arrow {
  width: 28.09px;
  height: 17.97px;
  margin-right: 10px;
}
.contact__Email {
  text-decoration: none;
  letter-spacing: -0.03em;
  font-size: 16px;
  color: #ffffff;
}
.contact__info {
  margin: 20px;
}
.contact__links {
  text-decoration: none;
  display: flex;
  margin-bottom: 20px;
}
.contact__link {
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
}
.contact__number {
  letter-spacing: -0.02em;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .contact__block {
    margin: 0 6vw;

    width: 90vw;
    min-height: 65vh;
  }
  .contact__main {
    width: 80%;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .contact__head {
    max-width: 1334px;
    font-size: 11vw;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    display: flex;
    margin-top: 50px;
  }
  .contact__Email {
    font-size: 3vw;
  }
  .contact__arrow {
    width: 39.13px;
    height: 25.04px;
    margin-right: 30px;
  }
  .contact__info {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .contact__link {
    font-size: 16px;
  }
  .contact__number {
    font-size: 16px;
  }
  .contact__me {
    margin-left: 22px;
  }
}
@media only screen and (min-width: 1024px) {
  .contact__link {
    font-size: 1.5vw;
  }
  .contact__number {
    font-size: 1.5vw;
  }
}
