@import "./components/variables.scss";

html {
  scroll-behavior: smooth;
}
.App {
  box-sizing: border-box;
  background-color: $backgroundColor;
  color: $textColor;
}
@media only screen and (min-width: 1024px) {
  .main__content {
    margin-left: 97px;
  }
}
