@import "./../variables.scss";

//ANIMATION LEFT
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

//ANIMATION RIGHT
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.main__block {
  margin-top: 53px;
  display: block;
  width: 100vw;
  height: 500px;
  .main__intro {
    text-transform: uppercase;
    z-index: 100;
    position: absolute;
    top: 110px;
    .main__creative {
      font-size: 50px;
      font-weight: 400;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px $textColor;
      margin-top: 0;
      letter-spacing: -0.05em;
      margin-left: 5.3vw;
      margin-bottom: 0;
      -webkit-animation-name: slideInLeft;
      animation-name: slideInLeft;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    .main__front {
      font-size: 50px;
      letter-spacing: -0.05em;
      margin-left: 27.7vw;
      margin-bottom: 0;
      margin-top: 0;
      -webkit-animation-name: slideInLeft;
      animation-name: slideInLeft;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    .main__develop {
      font-size: 50px;
      letter-spacing: -0.05em;
      margin-left: 5.3vw;
      margin-bottom: 0;
      margin-top: 0;
      -webkit-animation-name: slideInLeft;
      animation-name: slideInLeft;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    .main__berlin {
      font-size: 16px;
      letter-spacing: -0.03em;
      margin-left: 49vw;
      margin-top: 0;
      -webkit-animation-name: slideInLeft;
      animation-name: slideInLeft;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    .main__developerIn {
      display: flex;
      align-items: flex-end;
    }
  }
  .main__img {
    position: absolute;
    right: 0;
    top: 82px;
    z-index: 0;
  }
  .main__star {
    position: relative;
    z-index: 100;
    left: 46px;
    top: 290px;
    cursor: pointer;
    .main__starImg {
      width: 159px;
    }
    .main__check {
      position: absolute;
      font-size: 14px;
      left: 18px;
      top: -92px;
      color: $textColor;
      padding-bottom: 8px;
      border-bottom: 1px solid $textColor;
      transform: rotate(-15deg);
      text-transform: uppercase;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main__block {
    margin-top: 53px;
    height: 75vw;

    .main__intro {
      z-index: 100;
      position: absolute;
      top: 186px;
      left: 0;
      .main__creative {
        font-size: 10vw;
        margin-left: 5vw;
      }
      .main__front {
        font-size: 10vw;
        letter-spacing: -0.05em;
        margin-left: 26vw;
      }
      .main__develop {
        font-size: 10vw;
        letter-spacing: -0.05em;
        margin-left: 5vw;
        margin-bottom: 0;
      }
      .main__berlin {
        font-size: 2.5vw;
        letter-spacing: -0.03em;
        margin-left: 13px;
        margin-bottom: 2.1vw;
      }
    }
    .main__img {
      position: absolute;
      right: 0;
      top: 82px;
      z-index: 0;
      width: 78%;
    }
    .main__star {
      left: 30vw;
      top: 54vw;
      .main__starImg {
        width: 17vw;
        height: 25.4vw;
      }
      .main__check {
        font-size: 1.3vw;
        left: 2.9vw;
        top: -14.2vw;
        border-bottom: 1px solid $textColor;
        transform: rotate(-15deg);
        text-transform: uppercase;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .main__block {
    margin-top: 0;
    height: 80vw;
    .main__intro {
      top: 19vw;
      left: 97px;
      .main__creative {
        margin-left: 6.5vw;
      }
      .main__front {
        margin-top: -2vw;
      }
      .main__developerIn {
        margin-top: -2vw;
        margin-left: 6.5vw;
        .main__develop {
          margin-left: 6.5vw;
        }
      }
    }
  }
}
